<html>
    <head>

    </head>

    <body>
        <div class = "navbar">
            <div class = "logo"></div>
            <div>inSite</div>
            <input type = "text" name = "searchbar">
            <select id = "categories">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            <a>SUBMIT A WEBSITE</a>
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a>USER PROFILE</a>
            <a>LOG OUT</a>
        </div>
        <div class = "content">
            <div class = "container">
                <h2>{{Category}}</h2>
            <div id="categSites">
  
            </div>
            </div>
        </div>

    </body>
</html>