<html>

    <head>
        <style>
         
        </style>
    </head>

    <body>
        <div class = "navbar">
            <div class = "logo"></div>
            <div>inSite</div>
            <input type = "text" name = "searchbar">
            <select id = "categories">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            <a>SUBMIT A WEBSITE</a>
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a href = {{url1}}>{{rightoption1}}</a>
            <a href = {{url2}}>{{rightoption2}}</a>
        </div>
        <div class = "categories">
            <span>Social Media</span>
            <span>E-Commerce</span>
            <span>News Sites</span>
            <span>Blogs</span>
            <span>Informational</span>
            <span>Entertainment</span>
        </div>
        <div class = "content"></div>
    </body>
</html>
