<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="container">
        <nav id = "topnav">
            <div class = "logo"></div>
            <a id="left-name">InSite</a>
            <input type ="text" name ="searchbar" placeholder="Search" id="searchbar">
            <select id = "topCateg">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a href={{url1}} style="float: right;">{{rightoption1}}</a>
            <a href={{url2}} style="float: right;">{{rightoption2}}</a>
            <a href="submitsite" style="float: right;">SUBMIT A WEBSITE</a>
        </nav>
        
        <nav id = "categories">
            <span><a href="categories">Social Media</a></span>
            <span><a href="categories">E-Commerce</a></span>
            <span><a href="categories">News Sites</a></span>
            <span><a href="categories">Blogs</a></span>
            <span><a href="categories">Informational</a></span>
            <span><a href="categories">Entertainment</a></span>
        </nav>
        </div>
        
        <div class = "content">
        <div id="webOfTheDay">
            <h2>Website of the Day</h2>
            <div id="siteDay"></div>
        </div>
        <div id="mostPop">
            <h2>Most Popular Websites</h2>
            <div id="sitePop"></div>
        </div>
        <div id="highRate">
            <h2>Highest Rated Websites</h2>
            <div id="siteHigh"></div>
        </div>
        </div>
    </body>
</html>
