<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav>
            <div class = "logo"></div>
            <a>inSite</a>
            <input type = "text" name = "searchbar">
            <select id = "categories">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            <a href="submitsite">SUBMIT A WEBSITE</a>
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a href={{url1}}>{{rightoption1}}</a>
            <a href={{url2}}>{{rightoption2}}</a>
        </nav>
        <div class = "categories">
            <span><a href="categories">Social Media</a></span>
            <span><a href="categories">E-Commerce</a></span>
            <span><a href="categories">News Sites</a></span>
            <span><a href="categories">Blogs</a></span>
            <span><a href="categories">Informational</a></span>
            <span><a href="categories">Entertainment</a></span>
        </div>
        <div class = "content">
        <div id="webOfTheDay">
            <h2>Website of the Day</h2>
        </div>
        </div>
    </body>
</html>
