<html>
    <head>

    </head>

    <body>
        <div class = "navbar">
            <div class = "logo"></div>
            <div>inSite</div>
            <input type = "text" name = "searchbar">
            <select id = "categories">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            <a>SUBMIT A WEBSITE</a>
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a>{{rightoption1}}</a>
            <a>{{rightoption2}}</a>
        </div>

        <div class="content">
            <div class="registerbox">
                <h1>Register</h1>
                {{#if error}}
                <div class="error">{{error}}</div>
                {{/if}}
                <form method="POST" action="register">
                <label for = "un">Username</label>
                    <input type = "text" placeholder="Enter Username" name ="un">
                <label for = "em">E-mail</label>
                    <input type = "email" placeholder="Enter E-mail" name ="em">
                <label for = "pw">Password</label>
                    <input type = "password" placeholder="Enter Password" name ="pw">
                <label for = "vpw">Verify Password</label>
                    <input type = "password" placeholder="Verify Password" name ="vpw">     
                <label for = "fname">First Name</label>
                    <input type = "text" placeholder="Enter First Name" name ="fname">
                <label for = "lname">Last Name</label>
                    <input type = "text" placeholder="Enter Last Name" name ="lname">
                <label for = "userImg">Profile Picture</label>
                    <input type = "file" name = "userImg" accept = "image/*">
                <input type="submit" value="register">   
                </form>
            </div> 
        </div>   
    </body>
</html>