<html>
    <head>
         <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <body>
         <div class="container">
        <nav id = "topnav">
            <div class = "logo"></div>
            <a href="/" id="left-name">InSite</a>
            <input type ="text" name ="searchbar" placeholder="Search" id="searchbar">
            <select id = "topCateg">
                <option>All Categories</option>
                <option>Social Media</option>
                <option>E-Commerce</option>
                <option>News Sites</option>
                <option>Blogs</option>
                <option>Informational</option> 
                <option>Entertainment</option> 
            </select>
            <button type = "submit">Submit</button>
            
            <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
            <a href={{url1}} style="float: right;">{{rightoption1}}</a>
            <a href={{url2}} style="float: right;">{{rightoption2}}</a>
            <a href="submitsite" style="float: right;">SUBMIT A WEBSITE</a>
        </nav>
        </div>
        <div class = "content">
            <div class = "reviewbox">
            <form method = "POST" action = "review">
                <h2>Ratings</h2>
                <label for = "design">Design</label>
                <input type = "range" min = "0" max = "10" name = "design">
                <label for = "usability">Usability</label>
                <input type = "range" min = "0" max = "10"  name = "usability">
                <label for = "creativity">Creativty</label>
                <input type = "range" min = "0" max = "10"  name = "creativity">
                <label for = "content">Content</label>
                <input type = "range" min = "0" max = "10"  name = "content">
                <label for = "trust">Trustworthiness</label>
                <input type = "range" min = "0" max = "10"  name = "trust">
                <h2>Review</h2>
                <textarea name = "review" ></textarea>
                 <input type="submit" value="Submit Review" id="subBtn">
            </form>
            </div>
      </div>
    </body>
</html>
