body{
    overflow-x:hidden;
}
.fit-image{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

#wod-header{
    top: 0;
    bottom: auto;
}

.list-image{
    object-fit:scale-down;
    width: 80%;
    height: 250px;
}

.long-textbar{
    width: 500px;
}

.no-margin-padding{
    margin:0;
    padding:0;
}

.webheader-image{
    width: 230px;
    height: 230px;
}

.review-profile-pic{
    width:100px;
    height:100px;
}

.webheader-jumbotron-image{
    width:100%;
    height:200px;
    object-fit:cover;
}

.webdesc-gallery-image{
    width:782px;
    height:350px;
    object-fit:cover;
}

.taglabels{
    background-color:darkblue;
    font-size:0.95rem;
    color:white;
    border-radius: 5px;
    padding:5px
}

.webheader-cardborder{
    margin-left: 50px;
}

.web-introlabel{
    font-size:1.3rem;
}

.upperlabel{
    font-size:0.95rem;
    font-weight:bold;
}

.web-desc{
    padding-left:150px;
    padding-right:150px;
    text-align:justify;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
