html, body{
    font-family: sans-serif;
}

.topnav{
    width: 100%;
    padding: 10px;
    grid-row: 1/2;
    background-color: black;
    color: white;
  position: fixed;
    top: 0;
    left: 0;
    z-index:10;
   overflow: hidden;
}

a, a:visited{
    color:white;
}

content
{
    overflow: hidden;
}



